.flexer
{
    display: flex;
}
.j-center
{
    justify-content: center;
}
.j-between
{
    justify-content: space-between;
}
.j-around
{
    justify-content: space-around;
}

.a-center
{
    align-items: center;
}

.a-end
{
    align-items: flex-end;
}

.fd-c
{
    flex-direction: column;
}
